.navbar-collapse {
    justify-content: flex-end;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-primary {
    background-color: rgb(249, 115, 0) !important;
}

.header {
    background-image: urL("../assets/headerback.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    Left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #F97300;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #F97300;
    margin: 2em;
}

.about .avatar {
    position: relative;
}

.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about span {
    display: block;
    color: #888;
    position: absolute;
    Left: 115px;
}

.about .desk {
    padding: 2em;
    border-left: 4px solid #10828C;

}

.about .desc h3 {
    color: #10828C;
}

.about .desc p {
    line-height: 2;
    color: #888;
}