h2 {
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.book_name {
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

blockquote {
    background-color: #faf0e6;
    padding: 18px;
    border-left: 6px solid #ccc;
}
.t1
    th {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding-top: 20px;
    }
    tr:hover {
        background-color: whitesmoke;
    }
    tr:nth-child(2n) {
        background-color: whitesmoke;
    }
    td {
        padding: 4px;
    }

table {
border-collapse: collapse;
}

p {
    padding: 2px;
}
p::first-letter {
    font-size: 25px;
    color: red;
}

h3 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-style: italic;
}

.family {
    font-weight: 600;
}