p {
    display: inline-block;
    
}

.container {
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;

    width: 900px;
    height: 600px;
    /* border: 3px solid; */
    border-top: 0px;
}

.container1 {
    position: relative;
    top: 50px;
    width: 100%;
    height: 410;
    border: 6px dashed red;

}

.class1 {
    background-color: white;
    vertical-align: middle;
    border: 3px solid;
    border-left: 3px dashed;
    border-top: 3px dashed;
    padding-bottom: 50px;

    text-align: center;
    height: 50px;
    width: 895px;
}

.class2 {
    float: right;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 100px;
    border: 3px solid;
    background-color: white;

}

.class3 {
    background-color: white;
    float: right;
    text-align: center;
    vertical-align: middle;
    clear: right;
    width: 200px;
    height: 259px;
    border: 3px solid;
}

.class4 {
    border: 3px solid black;
    margin-top: -104px;
    background-color: white;
    float: left;
    width: 320px;
    height: 150px;
    text-align: center;
    vertical-align: middle;

}

.class5 {
    background-color: white;
    margin-left: 320px;
    border: 3px solid;
    width: 400px;
    text-align: center;
    vertical-align: middle;
    height: 150px;
}

.class6 {
    background-color: white;
    border: 3px solid black;
    border-left: 3px dashed;
    clear: left;

    float: left;
    width: 320px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.class7 {
    background-color: white;
    border: 3px solid black;
    border-left: 3px dashed;
    clear: left;
    float: left;
    width: 320px;
    height: 105px;
    text-align: center;
    vertical-align: middle;
}

.class8 {
    background-color: white;
    border: 3px solid black;
    margin-left: 320px;
    margin-right: 200px;
    height: 100px;

    text-align: center;
    vertical-align: middle;
}

.class9 {
    border: 3px solid black;
    background-color: white;
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.class10 {
    border: 3px solid black;
    background-color: white;
    height: 50px;
    margin-right: 200px;
    text-align: center;
    vertical-align: middle;
}

.class11 {
    background-color: white;
    position: absolute;
    bottom: 494px;
    border: 3px solid black;
    text-align: center;
    width: 895px;
    height: 50px;
}

.class12 {
    background-color: white;
    border: 3px solid black;
    border-left: 3px dashed;
    border-bottom: 3px dashed;
    text-align: center;
    height: 60px;
    clear: both;
}