/* .container {
    width: 80%;
} */


/* body {
    font-size: 10px;
} */

.container {
    margin: 0px;
    padding: 0px;
    position: relative;
    /* Необходимо, чтобы позиционировать внутренний div относительно внешнего */
    width: 100%;
    /* height: auto;  */
    /* border: 1px solid black; */
}

.centered {
    /* margin-top: -10px; */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: sans-serif;
}


.slider {
    width: 1200px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 140px;
    width: 200px;
}

.slider_text_container {
    position: absolute;
    top: 160px;
    left: 140px;
    color: white;
}

.slider_big_text {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: bold;
}

summary {
    /* margin-top: 50px; */
    font-weight: bold;
    padding-bottom: 10px;
    color: rgb(230, 230, 4);
    text-decoration: underline;

}

summary:hover {
    color: rgb(190, 190, 0)
}

.details_style {
    /* border-color: black; */
    font-size: 18px;
    padding: 15px;
    border: 5px solid rgb(73, 58, 10);
    border-radius: 5px;
    height: auto;
    width: 250px;
    background-color: rgb(179, 143, 26);

}

.menu {

    position: absolute;
    top: 25px;
    left: 1050px;
    width: 40px;

}

td {
    padding-top: 10px;
    text-align: left;
    width: 300px;
    padding-left: 20px;
    padding-right: 80px;
}

.table_details {
    font-size: 18px;
    padding: 15px;
    border: 5px solid rgb(73, 58, 10);
    border-radius: 5px;
    height: auto;
    width: 200px;
    background-color: rgb(179, 143, 26);
}

.card {
    position: absolute;
    z-index: 2;
    top: 1200px;

    width: 1000px;
    height: 340px;

    color: rgb(77, 83, 60);
    background-color: rgb(250, 250, 250);
    box-shadow: 50px 30px 30px 0px rgba(0, 0, 0, 0.07);
    /* Horizontal offset, vertical offset, blur radius, spread radius, color */


}

.card_big_font {
    padding-left: 150px;
    padding-top: 70px;
    font-size: 50px;
    font-weight: bold;
}

.t1 {
    position: absolute;
    top: 1650px;
    left: 130px;
    z-index: 2;
    width: 1000px;
    color: rgb(182, 193, 151);
}

.horizontal_line {
    border: 0;
    height: 1px;
    background-color: rgb(182, 193, 151, 0.2);
    /* Adjust color as needed */
    margin: 50px 0;
    /* Adjust margin as needed */
}

.vertical_line {
    position: absolute;
    z-index: 4;
    top: 190px;
    left: 630px;
    margin-right: 100px;
    /* top: -1px; */
    /* border: none; */
    /* padding-bottom: 100px; */
    border-left: 3px solid rgb(182, 193, 151, 0.05); /* Adjust color and thickness as needed */
    height: 180px;
    /* margin: 0 auto;  */
  }
  

.table 

    td {
    width: 200px;
    padding-right: 5px;
    padding-top: 15px;
    }   

.head_td {
    padding-top: 50px;
    margin-top: 50px;
}