html {
    font-family: "Montserrat", sans-serif;
}

/*!---------------- Header ---------------- */
header {
    display: flex;
    justify-content: space-between ;
    font-size: 48px;
    font-weight: bold;
    color: rgba(249, 195, 195, 1);
    /* align-items: center; */
}

header img {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

header p {
    -webkit-text-stroke: 1px black;
    padding: 0;
    margin: 0;
}
header .logo {
    display: flex;
    align-items: center;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-right: 10px;
    width: 700px;
    height: 55px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 15px;
    background-color: rgba(255, 227, 227, 1);
}

header nav a {
    color: black;
    
}

header nav a:hover {
    transition: opacity 0.2s ease;
    opacity: 0.5;
    color: grey;
}
/*!---------------- Main ---------------- */

main {
    padding: 50px;
    display: flex;
}

input {
    padding-left: 10px;
    background-color: rgba(217, 217, 217, 1);
    height: 40px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 3px 5px 6px  rgba(0, 0, 0, 0.2);
}
